<html>
<head>
	<title>Create Account</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/Login.css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat|Open+Sans|Raleway&display=swap" rel="stylesheet">
  <link href="../static/fontawesome/css/all.css" rel="stylesheet">
  
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>
<body class="Back">
<section id="title">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<h2><img src="../static/Images/Logo.jpg"><sub>  Opportunities</sub></h2>
		</nav>
	</section>
<section id="Registration" style="margin-top: 60px;">

<div class="container">
	<h3><center><u>Create Account</u></center></h3>
	<div class="row" style="margin-top: 30px;" id="back">
		<div class="col-md" style="margin-top: 30px;">
		
				<form style="margin-left: 260px;" action=" " method = "post">


<div class="form-group row">
    <label for="inputName3" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputUserName">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-5">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Create Password</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="inputPassword3">
    </div>
  </div>

<div class="form-group row">
    <label for="inputState" class="col-sm-2 col-form-label">Security Questions</label>
    <div class="col-sm-5">
      
      <select id="inputState" class="form-control ">
        <option selected>Choose......</option>
        <option>What's name of your first pet?</option>
        <option>What's name of your birth place?</option>
        <option>What's name of your childhood name?</option>
      </select> </div>
  </div>


   
  <div class="form-group row">
    <label for="inputAnswer" class="col-sm-2 col-form-label">Answer</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputAnswer">
    </div>
  </div>

  <div class="form-group row" style="margin-top: 40px;">
    <div class="col-md-8">
      <button type="submit" class="btn btn-danger btn-lg">Sign in</button>
    </div>
  </div>
</form>
		</div>
	</div>
</div>
</section>

</body>
</html>